<div class="collapsible collapsibe--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      class="icon icon--primary collapsible__chevron"
      src="images/chevron.svg"
      alt="A chevron icon"
      width="100px"
      height="100px"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat nobis aut
    eligendi odio dolorum quas mollitia illum, earum quasi officiis?
  </div>
</div>
